.dropdown button{
  background: white;
  color: black;
  width: 180px !important;
  border:white
}
input {
  border: white !important
}
.modal-body{
  background: #eff4fa
}
.rate{
  padding-top: 5px;
  color: #8690ad;
  font-size:13px
}
